---
import Layout from '../layouts/Layout.astro';
import InstagramIcon from '../components/Icons/Instagram.astro'

// Supports weights 100-900
import '@fontsource-variable/montserrat';
---

<Layout 
title ="iWeb, desarrollando futuro."
description ="">

	<main class="bg-bgColor1">
		<section class="flex flex-col gap-y-3 py-72 mx-auto max-w-[740px] text-center translate-x-">
			<small class="text-[18px] text-cyan-200 font-bold">
				Desarrollo Web & Software
			</small>
			<h1 class="text-7xl mx-auto text-center font-extrabold tracking-[2px]">
				Desarrollamos futuro
			</h1>
			<span class="text-gray-400 text-[18px]">
				Empeza tu pagina web sin problemas y con los mejores costos del mercado.
			</span>
			<div class="flex gap-x-24 mt-2 items-center justify-center">
				<a
				class="font-semibold text-xl w-max bg-cyan-200 text-black py-2 px-8 rounded-2xl"
				href="/planes">
				Empecemos...</a>
				<a
				class="font-semibold text-xl w-max border-cyan-200 border py-2 px-8 rounded-2xl flex items-center gap-x-5"
				target="_blank" 
				href="https://www.instagram.com/iweb.code/">
				<InstagramIcon  />
				Instagram
				</a>
			</div>
		</section>
	</main>
</Layout>

<style>
</style>
