---
import Layout from '../layouts/Layout.astro';
import Boxs from '../components/Boxs.astro';
import Slider from "../components/Slider.jsx";
import Form from '../components/Form.jsx'

import InstagramIcon from '../components/Icons/Instagram.astro'
import ArrowIcon from '../components/Icons/Arrow.astro'
import MantIcon from '../components/Icons/Mantenimiento.astro'
import MaqIcon from '../components/Icons/Maq.astro'
import GoogleIcon from '../components/Icons/Google.astro'
import AsesorIcon from '../components/Icons/Asesor.astro'
import PenIcon from '../components/Icons/Pen.astro'

// Supports weights 100-900
import '@fontsource-variable/montserrat';
---

<Layout 
title ="iWeb. Desarrollando Futuro."
description =""
>

	<main class="bg-bgColor2">
		<!-- HOME START  -->
		<section id="home" class="flex flex-col gap-y-3 pt-80 mx-auto max-w-[740px] text-center translate-x-">
			<small class="text-[18px] text-cyan-200 font-bold">
				Desarrollo Web & Software
			</small>
			<h1 class="text-7xl mx-auto text-center font-extrabold tracking-[2px]">
				Desarrollamos futuro
			</h1>
			<span class="text-gray-400 text-[18px]">
				Empeza tu pagina web sin problemas, con la mejor presencia en Internet y de los mejores costos del mercado.
			</span>
			<div class="flex gap-x-24 mt-2 items-center justify-center">
				<a
				class="hover:bg-cyan-100 font-semibold text-xl w-max bg-cyan-200 text-black py-2 px-8 rounded-2xl"
				href="#planes">
				Empecemos...</a>
				<a
				class="hover:bg-bgColor3 font-semibold text-xl w-max border-cyan-200 border py-2 px-8 rounded-2xl flex items-center gap-x-5"
				target="_blank" 
				href="https://www.instagram.com/iweb.code/">
				<InstagramIcon  />
				Instagram
				</a>
			</div>
			<div class="animate-bounce flex items-center justify-center mb-44 mt-32">
				<ArrowIcon />
			</div>
		</section>
		<!-- HOME END  -->
		 <!-- ABOUT US START -->
		 <section id="nosotros" class="mx-auto pb-24">
			<h2 class="text-5xl mx-auto text-center font-extrabold tracking-[2px]">
				¿Qué te ofrecemos?
			</h2>
			<div class="my-20 flex justify-center">
				<ul class="flex w-max justify-center items-center gap-x-10 border border-cyan-200 p-10 rounded-3xl">
					<li class="flex gap-x-2">
						<AsesorIcon /> 
						Asesoramiento
					</li>
					<li class="flex items-center gap-x-2">
						<MaqIcon />
						Maquetación
					</li>
					<li class="flex gap-x-2">
						<PenIcon />
						Diseño Responsive
					</li>
					<li class="flex gap-x-2">
						<GoogleIcon />
						Buena presencia en los motores de busqueda de Google
					</li>
					<li class="flex gap-x-2">
						<MantIcon /> 
						
						Mantenimiento mensual
					</li>
				</ul>
			</div>
			<h2 class="text-5xl mx-auto text-center font-extrabold tracking-[2px]">
				¿Como es nuestra organización?
			</h2>
			<div class="flex flex-row mx-20 justify-between">
				<div class="shadow-lg shadow-cyan-200 w-[450px] bg-cyan-200 border-none rounded-3xl py-7 px-10 mt-20">
					<p class="font-extrabold text-cyan-950 text-center text-nowrap mb-5 text-4xl">
						PRIMERA REUNIÓN
					</p>
					<p class="font-bold text-cyan-950">
						Reunión inicial para una organización general del proyecto y una compresión de las necesidades y objetivos del cliente. 
					</p>
				</div>
				<div class="shadow-md shadow-cyan-200 w-[450px] border border-cyan-200 rounded-3xl py-7 px-10 mt-20">
					<p class="font-extrabold text-white text-center text-nowrap mb-5 text-4xl">
						SEGUNDA REUNIÓN
					</p>
					<p class="font-bold text-white">
						Reunión de control de proyecto, para la realización de ajustes que sean necesarios y/o revisión de progreso del mismo. 
					</p>
				</div>
				<div class="shadow-lg shadow-cyan-200 w-[450px] bg-cyan-200 rounded-3xl py-7 px-10 mt-20">
					<p class="font-extrabold text-cyan-950 text-center text-nowrap mb-5 text-4xl">
						TERCERA REUNIÓN
					</p>
					<p class="font-bold text-cyan-950">
						Ultima reunión para la presentación del proyecto y organización de ultimos detalles.
					</p>
				</div>
			</div>
		 </section>
		 <!-- ABOUT US END -->
		  <!-- PROYECTS START -->
		  <section id="proyectos" class="bg-bgColor1">
			<h4 class="text-5xl py-10 mx-auto text-center font-extrabold tracking-[2px]">
				Proyectos
			</h4>
			<div class="flex flex-col justify-center items-center pb-20">
			<p class="text-center mb-10 w-[1500px] text-xl">
				Esta es una seleccion de ejemplos recientes para distintos clientes, conformes y satisfechos por el objetivo cumplido en el proyecto.
			</p>
				<Slider client:load />
			</div>
		  </section>
		  <!-- PROYECTS END -->
		  <!-- PLANES START  -->
		 <section id="planes" class="bg-bgColor3 py-10">
			<h3 class="text-5xl py-10 mx-auto text-center font-extrabold tracking-[2px]">
				Nuestros planes
			</h3>
			<p class="text-center text-xl">
				Te brindamos los diferentes planes que podes llegar a elegir para tu proyecto. Personalizados especialmente pensando en vos!
			</p>
			<Boxs />
		 </section>
		 <!-- PLANES END -->
		  <!-- CONTACT START -->
		  <section class="bg-bgColor3" id="contacto">
			<h4 class="text-5xl py-10 mx-auto text-center font-extrabold tracking-[2px]">Contacto</h4>
				<Form client:load />
		  </section>
		  <!-- CONTACT END -->
	</main>
</Layout>

<style>

</style>
