---
import Layout from '../layouts/Layout.astro';
// Supports weights 100-900
import '@fontsource-variable/montserrat';
---

<Layout 
title ="iWeb, desarrollando futuro."
description ="">

	<main>
		<img src="/public/home.jpg" alt="">
	</main>
</Layout>

<style>
</style>
