---
interface Props {
    badge?: string
    title: string
    description: string
    list?:string
}
const {title, description, badge, list} = Astro.props
---

<div class="flex flex-row gap-x-6">
    <div class="">

    </div>
</div>