---
---

<header class="bg-opacity-80 bg-bgColor2 flex fixed w-full items-center justify-around h-[70px] py-11">
    <a
    class="flex items-center flex-col gap-x-3"
    href="/">
        <img
        id="logo"
        class="w-[150px]" 
        src="/public/logo3.png" 
        alt="iWeb Logo">
        <span class="text-[10px] font-bold">Desarrollando futuro</span>
    </a>
    <nav class=" items-center justify-between hidden w-full md:flex md:w-auto md:order-">
        <ul class="cursor-pointer text-xxl flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
            <li class="hover:scale-110 transition-all">
                <a href="/" class="px-2.5 py-3 rounded-full">Inicio</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="#nosotros" class="px-2.5 py-3 rounded-full">Sobre nosotros</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="/" class="px-2.5 py-3 rounded-full">Proyectos</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="/" class="px-2.5 py-3 rounded-full">Planes</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="/" class="px-2.5 py-3 rounded-full">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="relative">
        <button
        id="button-idioms" 
        class="p-1 hover:bg-cyan-200 rounded-full">
            <img 
            class="size-12" 
            src="/public/idioms/spanish.png" 
            alt="Spanish Logo">
        </button>
    <div 
    class="absolute z-10 right-2 h-[85px] hidden"
    id="div-idioms">
        <div class="hover:bg-cyan-200 rounded-full">
            <a class="cursor-pointer">
            <img
            class="size-10" 
            src="/public/idioms/spanish.png" 
            alt="Spanish Logo">
            </a>
        </div>
        <div class="hover:bg-cyan-200 rounded-full">
            <a class="cursor-pointer">
            <img
            class="size-10"
            src="/public/idioms/english.png" 
            alt="English Logo">
            </a>
        </div>
    </div>
    </div>
    </header>
    <script>
        const button = document.getElementById("button-idioms")
        const divButton = document.getElementById("div-idioms")

        button?.addEventListener("mouseenter",() =>{
            divButton?.classList.toggle("hidden")
        })
        
        divButton?.addEventListener("mouseout", () =>{
            divButton?.classList.toggle("hidden")

        })
    </script>