---
---

<header class="z-32 bg-opacity-80 bg-bgColor2 flex fixed w-full items-center justify-around py-1">
    <a
    class="flex items-center flex-col gap-x-3"
    href="/">
        <img
        id="logo"
        class="w-[150px]" 
        src="/imgs/logo3.png"
        alt="iWeb Logo">
        <span class="text-[10px] font-bold">Desarrollando futuro</span>
    </a>
    <nav class=" items-center justify-between hidden w-full md:flex md:w-auto md:order-">
        <ul class="cursor-pointer text-xxl flex flex-col font-medium p-4 md:p-0 mt-4 border border-gray-100 rounded-lg md:space-x-8 rtl:space-x-reverse md:flex-row md:mt-0 md:border-0 ">
            <li class="hover:scale-110 transition-all">
                <a href="/" class="px-2.5 py-3 rounded-full">Inicio</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="#nosotros" class="px-2.5 py-3 rounded-full">Sobre nosotros</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="#proyectos" class="px-2.5 py-3 rounded-full">Proyectos</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="#planes" class="px-2.5 py-3 rounded-full">Planes</a>
            </li>
            <li class="hover:scale-110 transition-all">
                <a href="#contacto" class="px-2.5 py-3 rounded-full">Contacto</a>
            </li>
        </ul>
    </nav>
    <div class="relative">
        <button
        id="button-idioms" 
        class="border border-gray-800 shadow-sm shadow-slate-500">
            <img 
            class="size-12" 
            src="/imgs/idioms/spanish.png" 
            alt="Spanish Logo">
        </button>
    <div 
    class="hidden absolute flex-col justify-around z-10 top-[52px] left-1 h-[90px]"
    id="div-idioms">
        <div class="grayscale hover:grayscale-0 rounded-full">
            <a class="cursor-pointer">
            <img
            class="size-10" 
            src="/imgs/idioms/spanish.png" 
            alt="Spanish Logo">
            </a>
        </div>
        <div class="grayscale hover:grayscale-0 rounded-full">
            <a class="cursor-pointer">
            <img
            class="size-10"
            src="/imgs/idioms/english.png" 
            alt="English Logo">
            </a>
        </div>
    </div>
    </div>
    </header>
    <script>
        const button = document.getElementById("button-idioms")
        const divButton = document.getElementById("div-idioms")

        button?.addEventListener("click",() =>{
            divButton?.classList.toggle("hidden")
        })
        
    </script>