---
import Header from '../components/Header.astro'
import '@fontsource-variable/montserrat';


interface Props {
	title: string;
	description: string;
}

const { title,description } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body>
		<Header />
			<slot />
	</body>
</html>
<style is:global>
	:root {
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
		--bgColor2: rgb(31, 32, 35)
	}
	body{
		font-family: 'Montserrat Variable', sans-serif;
		background-color: var(--bgColor2);
		color: #fff
	}
</style>
